body {
  background-color: lightblue;
}
main {
  max-width: 960px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
input {
  display: block;
  margin: 16px auto 0;
  padding: 8px;
}
button {
  padding: 8px;
  cursor: pointer;
  margin-top: 16px;
}
.sucesso {
  margin: 100px;
  padding: 16px;
  border: 8px dotted red;
}
.sucesso span {
  font-weight: bold;
}
